<div class="aussen">
	<div class="balken">
		<div class="balken-innen"></div>
	</div>
	<div class="header">
		<div class="header-innen"></div>
	</div>
	<div class="innen">
		{% include "Ceres::PageDesign.Partials.Header.Navigation" %}
