.balken {
	background: #87a746;
	width: 100%;
}

.balken-innen {
	color: #fff;
	height: 34px;
	line-height: 34px;
	margin: 0 auto;
	position: relative;
	text-transform: uppercase;
	width: 1160px;
}

.footer {
    background: #87a746;
    height: 285px;
    margin: -285px auto 0 auto;
    width: 100%;
}

.footer-innen {
    height: 285px;
    margin: 0 auto;
    position: relative;
    width: 1160px;
}
